<!DOCTYPE html>
<html>
  <head>
    <title>Furima37272</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# payjp.jsが読み込まれるように記述 %>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%# turbolinksを使用しないように編集済み(8,9行目) %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
